.carousel {
   padding: 81px 0;
   &__slider {
      position: relative;
   }
   &__inner {
      width: 750px;
      margin: 0 auto;
      overflow: hidden;
   }
   &__slides {
      width: 2250px;
      display: flex;
      transform: translateX(0);
      transition: all 0.4s;
   }
   &__prev,
   &__next {
      position: absolute;
      top: 50%;
      left: -35px;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0);
      border: none;
      img {
         width: 31px;
         height: 50px;
      }
   }
   &__next {
      left: auto;
      right: -35px;
   }
}
